<form [formGroup]="form" (ngSubmit)="saveTodo()"> 
    <h2>Registration</h2>
    <table>
        <tr>
            <td>Title: </td>
            <td>
                <input type="text" size="30" formControlName="taskName">
            </td>
        </tr>
        <tr>
            <td>Name: </td>
            <td>
                <input type="text" size="30" formControlName="name">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" [disabled]="isFormInvalid()">save</button>
                <button type="button" (click)="addTask()">add task</button>
            </td>
        </tr>
    </table>
    <div *ngIf="taskArray.controls.length <= 0">
        <h2>You are free</h2>
    </div>
    <div *ngIf="taskArray.controls.length > 0">
        <h2>My Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>DueDate</th>
                </tr>
            </thead>
            <tbody formArrayName="tasks">
                <tr *ngFor="let t of taskArray.controls; let fg=index;" [formGroupName]="fg">
                    <td>
                        <input type="text" size="40" formControlName="description">
                    </td>
                    <td>
                        <input type="date" formControlName="dueDate">
                    </td>
                    <td>
                        <button (click)="deleteTask(fg)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>